body {
    margin: 0;
    font-family: IBM Plex Mono;
    background-color: #080808;

}
.home {
    background-color: #080808;
}

.home .navbar {
    background-color: #1B1B1B;
    height: 70px;
    width: 86.7%;
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
}


.home .navbar .nav-element {
    text-transform: capitalize;
    color: #848484;
    margin-top: 25px;
    margin-right: 70px;
}

.home .navbar a {
    text-decoration: none;
}

.home .navbar .social-media-icons { 
    margin-right: 0;
}

.home .navbar .social-media-icons i {
    color: #848484;
    margin-left: 15px;
}

.home .profile {
    width: 90%;
    justify-self: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* height: 70vh; */
    padding: 100px 0 70px;
    align-items: center;
}

.home .profile .left {
    width: 50%;
    align-items: center;
}

.home .profile .left .intro {
    justify-self: center;
    width: 75%;
}

.home .profile .left .intro .name {
    color: white;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
    margin: 30px 0 30px;
    font-family: Raleway;
}   

.home .profile .left .intro .intro-text {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0 30px;
}

.home .profile .left .intro .get-started {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    height: 63px;
    width: 307.89px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: IBM Plex Mono;
}

.home .profile .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.home .profile .right .image {
    margin: 40px;
    border-radius: 100%;
    height: 350px;
}

.worked-with {
    justify-self: center;
    padding-bottom: 70px;
}

.worked-with h6{
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0%  ;
    margin: 0 0 20px;
}

.worked-with .tools {
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
}

.worked-with .tools .logo {
    width: 160px;
    height: 60px;
    border: solid #1B1B1B 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.case-studies {
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 18% 5%;
}

.case-studies .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-studies .heading h3 {
    margin: 0;
    text-transform: capitalize;
    font-family: raleway;
    font-size: 34px;
    font-weight: 800;
}

.case-studies .heading p {
    width: 55%;
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.case-studies .case-study {
    display: flex;
    margin: 50px 0 50px;
}

.case-studies .flex-rev{
    flex-direction: row-reverse;
}

.case-studies .flex-rev .content{
    margin-left: 25px;
    margin-right: 0;
}

.case-studies .case-study .content {
    width: 50%;
    margin-right: 25px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.case-studies .case-study .image {
    width: 50%;
    border-radius: 8px;
}


.case-studies .case-study .content h6{
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1%;
    width: fit-content;
    padding: 0 10px 0;
    border-radius: 60px;
    margin: 25px 0 25px;
}

.case-studies .case-study .content h4 {
    font-family: raleway;
    font-size: 24px;
    font-weight: 800;
    line-height: 100%;
    margin: 25px 0 25px;
}

.case-studies .case-study .content p {
    color: #9C9C9C;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.case-studies .case-study .content button {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 24px 10px;
    /* background-color: #FFA217; */
    color: white;
    border-radius: 4px;
    border: none;
    margin: 25px 0 25px;
}

.case-studies .case-study.yellow .content h6 {
    background-color: #FFF6E9;
    color: #FFA217;
}

.case-studies .case-study.yellow .content button {
    background-color: #FFA217;
}

.case-studies .case-study.blue .content h6 {
    background-color: #D0E6FF;
    color: #000AFF;
}

.case-studies .case-study.blue .content button {
    background-color: #000AFF;
}

.case-studies .case-study.green .content h6 {
    background-color: #E0FFF8;
    color: #2AB090;
}

.case-studies .case-study.green .content button {
    background-color: #2AB090;
}

.testimonials {
    background-color: #080808;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 15% 5%;
}

.testimonials .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials .heading h3 {
    margin: 0;
    color: white;
    text-transform: capitalize;
    font-family: raleway;
    font-size: 34px;
    font-weight: 800;
}

.testimonials .heading p {
    width: 55%;
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.testimonials .testimonial-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonials .testimonial-container .testimonial {
    margin: 20px;
    border: 1px solid;
    border-radius: 6px;
    border-image: linear-gradient(to right, #484848, #1B1B1B);
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    width: 45%;
    position: relative;
}   

.testimonials .testimonial-container .testimonial::after {
    content: '“';
    color: white;
    position: absolute;
    font-size: 100px;
    font-family: Raleway;
    top: -35px;
    left: 7px;
}

.testimonials .testimonial-container .testimonial p {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
    margin: 30px 30px 0;
}

.testimonials .testimonial-container .testimonial .client-info {
    margin: 20px 30px 30px;
    display: flex;
    align-items: center;
}

.testimonials .testimonial-container .testimonial .client-info img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 25px;

}

.testimonials .testimonial-container .testimonial .client-info h5 {
    color: white;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
}

.recent-works {
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 5%;
}

.recent-works .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-works .heading h3 {
    margin: 0;
    text-transform: capitalize;
    font-family: raleway;
    font-size: 34px;
    font-weight: 800;
}

.recent-works .heading p {
    width: 40%;
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.recent-works .recent-works-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

.recent-works .recent-works-container .pointer {
    border-radius: 100%;
    border: 1px solid #9C9C9C;
    color: #9C9C9C;
    padding: 4px 8px 4px;
    margin: 30px;
}

.recent-works .recent-works-container .work {
    width: 40%;
    margin: 20px;
}

.recent-works .recent-works-container .work img {
    border-radius: 8px;
    width: 100%;
}

.recent-works .recent-works-container .work h5 {
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 800;
    line-height: 100%;
}

.recent-works .recent-works-container .work p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;
}

.recent-works .recent-works-container .work button {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    padding: 10px 24px 10px;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
}

.get-in-touch {
    background-color: #080808;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 15% 5%;
}

.get-in-touch .heading {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch .heading h3 {
    margin: 0;
    color: white;
    text-transform: capitalize;
    font-family: raleway;
    font-size: 34px;
    font-weight: 800;
}

.get-in-touch .heading p {
    width: 55%;
    color: #9C9C9C;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.get-in-touch .form-container{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.get-in-touch .form-container form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.get-in-touch .form-container form label {
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: capitalize;
}

.get-in-touch .form-container form input[type='email'], .get-in-touch .form-container form input[type='text'], .get-in-touch .form-container form textarea {
    color: #F8F8F8;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 0 12px 0;
    height: 40px;
    width: 350px;
    font-family: IBM Plex Mono;
    margin: 10px 0 20px;
    box-sizing: border-box;
}

.get-in-touch .form-container form textarea {
    height: 120px;
    padding-top: 10px;
}

.get-in-touch input[type='submit'] {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    border-radius: 4px;
    padding: 16px 24px 16px;
    height: 50px;
    width: 350px;
    text-transform: capitalize;
    font-family: IBM Plex Mono;
    color: white;
}

.footer {
    width: 100%;
    background-color: #1B1B1B;
    height: 70px;
    display: grid;
    place-items: center;
}

.footer h6 {
    color: #9C9C9C;
    font-weight: 400;
    letter-spacing: 1%;
    font-size: 14px;
    text-transform: capitalize;
    margin: auto;  
}